<form name="frm1">
    <div ngui-form-field="frm1.name" data-label="Name">
        <input type="text" class="form-control" name="name" ng-model="mdl.name" required>
    </div>
    <div ngui-form-field="frm1.age" data-label="Age" data-label-var="labelAge">
        <input type="number" class="form-control" name="age" ng-model="mdl.age" required>
    </div>
    <div ngui-form-field="frm1.longtext" data-label="Editortext">
      <textarea ngui-htmltext class="form-control" name="longtext" ng-model="mdl.justtext" required></textarea>
    </div>
    <button type="submit">ok</button>
</form>

<pre>{{mdl | json}}</pre>
<hr>
<div class="form-group">
    <label>Label age</label>
    <input class="form-control" ng-model="labelAge">
</div>
